<h1 class="title is-3">Vendors</h1>
<p>
    Find me in app/views/pages/vendors.html.erb
    This is the vendors page.
</p>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
<table>
  <thead>
    <tr>
      <th>Vendor ID</th>
      <th>Name</th>
      <th>Average Rating</th>
    </tr>
  </thead>
  <tbody>
    <% @vendors.each do |vendor| %>
      <tr>
        <td><%= vendor.id %></td>
        <td><%= vendor.name %></td>
        <td><%= vendor.average_rating %></td>
      </tr>
    <% end %>
  </tbody>
</table>
