/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

@import "main";
@import "sidebar";
@import "headerbar";

body {
   font-family: 'Nunito Sans', sans-serif !important;
   background-color: $body-background-color;
}

#app-content-column {
   padding: $app-content-column-padding;
}

// Bread crumbs
.breadcrumb {
   font-size: 1.1rem !important;
   background-color: $breadcrumb-background-color;
   border: 1px solid #e3e6f0;
   padding: $breadcrumb-padding;
   font-weight: $breadcrumb-font-weight;

   li {
      a {
         padding: 0;
      }
   }

   ::before {
      margin: 0 0.5rem;
   }
}

.flash-notice {
   @include slide-out(0.2s);

   // Make the flash notice look like a toast
   // By having it in the upper right hand corner and
   // being displayed "above" the rest of the content with
   // a higher z-index

   position: fixed !important;
   top: 0 !important;
   right: 0;
   z-index: 1000 !important;
   margin: 1rem !important;

   max-width: $toast-max-width;
   box-shadow: $toast-box-shadow;

   .icon {
      position: absolute;
      top: 0;
      right: 0;
      margin: 1px;

      :hover {
         cursor: pointer;
         opacity: 0.5;
      }
   }
}

//  style="background-image: url('/assets/login-bg.jpg'); background-height: 200vh !important; background-size: cover;"
#auth-image-bg {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-size: cover;
   display: block;
   background-position: center;

   // Blur the background image
   filter: blur(10px);
   /* Adjust the blur strength as needed */
   -webkit-filter: blur(10px);
}
