@import "main";

#contracts {
    @include table-card($table-card-header-background-color, $table-card-header-border, $table-border);
    #contracts-table-header-inputs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 0;

        div {
            display: flex;
            justify-content: space-between;

            .input {
                width: 70%;
            }
        }
    }
}