@import "main";

#contracts {
    @include table-card($table-card-header-background-color, $table-card-header-border, $table-border);
    #contracts-table-header-inputs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 0;

        div {
            display: flex;
            justify-content: right;

            .input {
                margin-right: 20px;
                width: 70%;
            }
        }
    }
}

#contract-show {
    @include table-card($table-card-header-background-color, $table-card-header-border, $table-border);
    .download-file-button {
        display: flex;
        justify-content: flex-end;
    }
}

#contract-form {
    @include table-card($table-card-header-background-color, $table-card-header-border, $table-border);
}