@import "main";

#unauthed-form {
    display: flex !important;
    flex-direction: column;
    justify-content: center;

    img {
        margin: auto;
    }

    h1 {
        text-align: center;
    }

    .actions {
        display: flex;
        justify-content: center;

        .button {
            margin: 0 10px !important;
        }
    }

    color: white !important;
}
