@mixin transition ($property, $duration: 0.3s, $timing: ease) {
  -webkit-transition: $property $duration $timing;
  -moz-transition: $property $duration $timing;
  -ms-transition: $property $duration $timing;
  -o-transition: $property $duration $timing;
  transition: $property $duration $timing;
}

@mixin link-hover ($color: #000, $hover-color: gray) {
  a {
    @include transition(all, 0.3s, ease);
    color: $color;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: $hover-color;
    }
  }
}