.welcome-message {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.welcome-message h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.welcome-message p {
    font-size: 18px;
    color: #666;
}
  