<nav class="navbar" role="navigation" aria-label="main navigation" id="header-bar">

  <% if !user_signed_in? %>
    <div class="navbar-start" style="margin-left: 1rem;">
      <h1 class="navbar-item has-text-light title is-6">BVCOG Contract Management System</h1>
    </div>
  <% end %>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
        <% if current_user %>
            <p class=" has-text-light">Welcome, <%= current_user.full_name %>!</p>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>