<% # This is the main application sidebar %>
<% # It should have a tab highlighted depending on the active page %>

<% # The sidebar is a Bulma panel %> 
<% # https://bulma.io/documentation/components/panel/ %>

<div>
  <div id="sidebar-header" class="sidebar-logo">
    <h3 class="subtitle is-6">Contract Manager</h3>
  </div>
  <aside class="sidebar-main menu">
    <% page_list.each do |page| %>
      <p class="menu-label">
        <%= page[:title] %>
      </p>
      <ul class="menu-list">
        <% page[:subpaths].each do |item| %>
          
        <% end %>
      </ul>
    <% end %>
  </aside>
</div>
