<div>
  <div id="sidebar-header" class="sidebar-logo">
    <h3 class="subtitle is-6">Contract Manager</h3>
  </div>
  <aside class="sidebar-main menu">
    <% page_list.each do |page| %>
      <p class="menu-label">
        <%= page[:title] %>
      </p>
      <ul class="menu-list">
        <% page[:subpaths].each do |item| %>
          <a href="<%= item[:path] %>" class="sidebar-item menu-item has-text-link-light">
            <span class="icon">
              <i class="fa-regular fa-<%= item[:icon] %>"></i>
            </span>
            <%= item[:name] %>
          </a>
        <% end %>
      </ul>
    <% end %>
  </aside>
</div>

  </aside>
</div>

